
/**
 * 快完事儿了。
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * 希望这个页面给你带来了友好的体验.
 *
 * 这个页面启发于 http://strml.net/
 * 
 * 
 *
 * 
 */

/**
 * 其实，我们可以即时的编辑这个页面的css效果。
 *
 * 例如,
 *
 * 属性 'text-shadow' 有以下参数:
 * 'x', 'y', 'blur', 'color'.
 *
 * 如果想做一些小改变,
 * 可以设置它的阴影为15像素,
 * 加上1像素的模糊度:
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * 👆上面很多数值都是可以随意改变的，
 * 改动它们可以看到很多酷炫的效果，
 * 色彩、3D效果、字体大小……
 */


