/**
 *
 * Inspired by http://strml.net/
 * 大家好，我是王嘉婷
 * 五月了，好多公司还（不）在（再）招聘。
 *
 * 但是，请给我一次机会！
 *
 *
 * How about some live coding?
 */

/**
 * 首先给所有元素加上过渡效果
 */

* {
  -webkit-transition: all 1s;
}

/**
 * 没有太多的改变，但你会看到明显的效果。
 *
 * 白色背景太单调了，
 * 我们来点背景。
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * 字体颜色变一下……
 */

pre, a {
  color: white;
}

/**
 * 现在看起来清晰多了！
 * 
 * 现在我要尽可能的模拟编码情景。
 *
 * 准备好了吗——
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 74.6%;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
}

/**
 * 是不是已经很有感觉了？
 * 继续看我表演 XD
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * 所有的代码都是白色的，
 * 也许代码高亮会让一切都一目了然。
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * 嗯，看起来舒服多了！
 * 是时候换个角度了，加点 3D 效果 ：P。
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

/**
 * 接下来我给自己准备一个编辑器
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
