
/** 
 * 这个简历好像差点什么
 * 对了，这是 Markdown 格式的，我需要变成对 HR 更友好的格式
 *
 */

#work-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * 准备好咯！
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 * 
 * 我...
 * 我变！！！
 *
 */
